.scrollbarY::-webkit-scrollbar {
	width: 0.2rem;
}

.scrollbarY::-webkit-scrollbar-thumb {
	background: gray;
	cursor: pointer;
}

.scrollbarX::-webkit-scrollbar {
	height: 0.5rem;
}

.scrollbarX::-webkit-scrollbar-thumb {
	background: gray;
	cursor: pointer;
}
